<!-- Button trigger modal -->

<a href="#", data-toggle="modal" data-target="#myModal">
  Why do we need this?
</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Why do we need your address?</h4>
      </div>
      <div class="modal-body">

			<p> We need your address because, when you sell a piece, you will recieve your money via a mailed check. Without your address, we cannot give you your money. </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>