<!-- Button trigger modal -->

<a href="#", data-toggle="modal" data-target="#myModal1">
  Click me if you are posting photography.
</a>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Photogaphy</h4>
      </div>
      <div class="modal-body">

			<p> If you are posting digital photography, please post a lower resolution image so that nobody can steal it from our site. Then, speicify in the description that the actual image is a higher resolution. Thanks!</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>