<!-- Button trigger modal -->

<a href="#", data-toggle="modal" data-target="#myModal2">
  Please click me!
</a>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artist Cut and Shipping</h4>
      </div>
      <div class="modal-body">

			<p>This is the amount of money that you will recieve by check once your art has arrived on the customer's doorstep. <strong>Note that this includes shipping.</strong></p>

			<p> Here is what we mean: Once your art is bought, you will be responsible for shipping it to the customer. Therefore, in this field you should put the amount of money you want for your piece plus the shipping cost of your piece. For example, if I wanted to make $50 by selling this piece, and it costs me $20 to ship it, then I would put 70 in this field.</p>

			<p> How do you know how much it will cost to ship? Visit <a href="https://www.fedex.com/ratefinder/home", target="_blank">Fedex's site</a>. Put your zip code where it says ship from, and then, where it says ship to, put either a California or New York zip code (whichever is farther from your place). You can use 94024 for the California zip code and 10023 for the New York Zip Code. </p>

			<p> In additional information, put 1 for total number of packages and the approximate weight of your art. Then, for pickup/dropoff, select schedule a pickup if you plan to have fedex pick up the package from your house, or Drop off at a Fedex location. Put any date for the ship date. </p>

			<p><strong> Finally, press "Get Quick Quote." Do not press "Get Detailed Quote", as this option is extremely confusing.</strong></p>

			<p> After you press get quick quote, you'll see a list of prices. The one next to "End of day(5 Business Days)" (probably the cheapest option) is how much the shipping will cost you.</p>

			<p> Add the shipping amount for the 5 Business Days to the amount of money you want to make from selling this piece of art. Then, put this value in the "Artist Cut" field on my website.</p>

			<p><strong>Note: while we recommed shipping through Fedex, if you have a different option in mind, and have a good idea of the amount of money it will cost you, then feel free to put down whatever number you wish.</strong></p> 

			<p>If, in reality, the shipping costs you less than you anticipated, you get to keep the extra money! </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>