<!-- Button trigger modal -->

<a href="#", data-toggle="modal" data-target="#myModal1">
  Please click me too!
</a>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Total Price</h4>
      </div>
      <div class="modal-body">

			<p>Don't worry, this one is much shorter. In order to keep good margins, we markup the price of your art to the amount in the "total price" field. This field cannot be edited. Thanks :)</p> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>