<div class = "panel panel-primary">
	<div class="panel-heading"><h1>New Piece</h1></div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
	<div class = "panel-footer">
		<%= link_to 'Back', pieces_path %>
	</div>
</div>