<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= link_to image_tag("https://s3.amazonaws.com/metallicpalette/carousel_1.jpg", alt: "See Our Art"), pieces_path %>


      <div class="carousel-caption">
        See the Art
        <span class="glyphicon glyphicon-arrow-right"></span>
      </div>
    </div>

    <div class="item">
     <%= link_to image_tag("https://s3.amazonaws.com/metallicpalette/carousel_2.jpg", alt: "For a Good Cause"), aboutus_path %>
      <div class="carousel-caption">
        Learn More
         <span class="glyphicon glyphicon-arrow-right"></span>
      </div>
    </div>

    <div class="item">
       <%= link_to image_tag("https://s3.amazonaws.com/metallicpalette/carousel_3.jpg", alt: "Start Selling"), new_user_registration_path %>
      <div class="carousel-caption">
        Start Selling
        <span class="glyphicon glyphicon-arrow-right"></span>
      </div>
    </div> 
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>