<div class="container-home">
	<%= link_to image_tag("https://s3.amazonaws.com/metallicpalette/builtforartistsffinal.jpg", alt: "Start Selling"), new_user_registration_path %>

	<script>
		mixpanel.track("Viewed Home Landing Page");
	</script>

</div>




