<div class="center">
	<h1> About Us</h1>
</div>

<div class="container">
	<h2>Our Mission</h2>
	
	<p> 
		Our mission is to improve the lives of those with learning challenges and help them succeed in school, at work, and in life. We accomplish this goal by selling original works of art, and donating the proceeds to charities supporting this cause. 
	</p>
	
	<div class= "italics" >
		<h2>Our Story</h2>
		<i> Written by Arjun Singla, Co-founder and CEO</i>
	</div>

	<p> One day, as I came home from school, I found a new painting hung on our wall. I thought it looked beautiful, and wondered where it had come from. When they reached home, I asked my parents, who told me my brother had made it. </p>

	<p> My brother has attention and learning challenges. Until this point, he had never expressed much interest in anything. I had seen him struggle inso many different areas, but for him, art was different. He created beautiful pieces on his iPad with great ease and enthusiasm, and every time he did, he had a big smile on his face. </p>

	<strong><p> During this time, I was learning how to code. One day, I had an epiphany: I could make a website to sell my brother’s art. When I shared the idea with him, he became very excited about sharing his art with other people, and asked me, “Will I be famous?” </p>  </strong>

	<p> The thought of seeing his excitement when he sold his first piece of art motivated me to devote my time and energy into creating this site. </p>

	<p> As the site developed, I thought of opening the platform to other artists so that anyone could sell their art. My brother approved of this idea, and so together, we built Metallic Palette. </p>


	<p>One out of every five children and adults in the United States has learning challenges. We believe that each and every individual deserves a chance to realize their potential despite facing unique obstacles. We want to help these children, adults, and their families as they face difficulties that most of us cannot even begin to comprehend. This is why my brother and I decided to donate 100% of our profits to organizations that support learning challenges, such as the <a href = "http://www.ncld.org/", target="_blank">National Center for Learning Disabilities</a>, an organization that is dedicated to creating a "society in which every individual possesses the academic, social, and emotional skills needed to succeed in school, at work and in life." </p>


	<p> We needed more people to help with growing the new business, so I formed a club in my school and roped in other students. This site is a culmination of the joint efforts of my peers, my brother, and myself. </p>

	<strong><p>As more and more people post their art, we hope that this site will grow, and that we will be able to meaningfully contribute to the welfare of people with learning challenges.</p></strong>

	
</div>