<div class="center">
	<h1> About Us</h1>
</div>

<div class="container">
	<h2>Our Mission</h2>
	
	<p> Our mission is to raise money to support people who have autism by selling art. </p>
	
	<div class= "italics" >
		<h2>Our Story</h2>
		<i> Written by Arjun Singla, CEO </i>
	</div>

	<p> A few years ago, I came home and found a new painting hung up on our wall. I thought it looked beautiful. When my parents came home, I asked them where they had got it from. They told me that my brother, Aryan, had made it. </p>

	<p> My brother is autistic. Until this point, he had never expressed much interest in anything. I had seen him struggle in so many different things, but art for him was different. He made piece after piece of beautiful art on his iPad, and every time he did, he had a big smile on his face. </p>

	<p> During this time, I was learning how to code. One day, I had an awesome idea: I could make a website to sell my Aryan's art. I told him, and he instantly became excited. </p>  

	<p> I was really busy in school, and so I built the site in a on off manner. I would work on it for a little bit, then not touch it for six months, and then work on it again. </p>

	<p> As the site developed, I had the idea of opening it to other artists, so that anyone could sell their art. My brother approved of this idea, and so together, we built Metallic Palette. </p>

	<p> We needed more people to help with growing the new business, and so, this year, I formed a club in my school to help with it. With their help, combined wiht the efforts of myself and my brother, the site grew to what it is today.</p>
	
	<h2>Autism</h2>

	<p>1 out of every 68 children suffer from autism in America. My brother, my team, and I want to help these children, and their families, as they face many difficulties that most don't. That is why we donate 80% of our profits to <a href = "http://autism-society.org">Autism Society</a>, an organization that is dedicated to "increasing public awareness about the day-to-day issues faced by people on the spectrum, advocating for appropriate services for individuals across the lifespan, and providing the latest information regarding treatment, education, research and advocacy." Hopefully, with this website, a few kids in California can make a difference to many accross our country. </p>
	
</div>