<div class="center">
	<h1> About Us</h1>
</div>

<div class="container">
	<h2>Our Mission</h2>
	
	<p> Our mission is to bring original works by artists to you in order to raise money to support people with learning disabilities. </p>
	
	<div class= "italics" >
		<h2>Our Story</h2>
		<i> Written by Arjun Singla, CEO </i>
	</div>

	<p> I came home one day and found a new painting hung on our wall. I thought it looked beautiful. When my parents came home, I asked them where it came from. They told me that my brother had made it. </p>

	<p> My brother has attention and learning challenges. Until this point, he had never expressed much interest in anything. I had seen him struggle in so many different areas, but art for him was different. He created beautiful pieces of art on his iPad, with great ease and enthusiasm. Every time he did, he had a big smile on his face. </p>

	<p> During this time, I was learning how to code. One day, I had an awesome idea: I could make a website to sell my brother’s art. When I shared the idea with him, he became very excited about showing his art to other people, asking me, “Will I be famous?” </p>  

	<p> The thought of seeing his excitement when he sold his first piece of art motivated me to devote my time and energy in creating this site. </p>

	<p> As the site developed, I had the idea of opening it to other artists, so that anyone could sell their art. My brother approved of this idea, and so together, we built Metallic Palette. </p>

	<p> We needed more people to help with growing the new business, and so, this year, I formed a club in my school to help with it. This site is a culmination of the joint efforts of my peers, my brother, and myself. As more and more people post their art, we hope that this site will grow, and that we will be able to meaningfully contribute to the welfare of people with learning challenges. </p>
	
	<h2>Autism</h2>

	<p>1 out of every 68 children suffer from autism in America. My brother, my team, and I want to help these children, and their families, as they face many difficulties that most don't. That is why we donate 80% of our profits to <a href = "http://autism-society.org">Autism Society</a>, an organization that is dedicated to "increasing public awareness about the day-to-day issues faced by people on the spectrum, advocating for appropriate services for individuals across the lifespan, and providing the latest information regarding treatment, education, research and advocacy." Hopefully, with this website, a few kids in California can make a difference to many accross our country. </p>
	
</div>