<div class="center">
	<h1> Contact Us</h1>
</div>

<div class="container">
	
	<h3>

		You can reach me, the CEO, at <a href="mailto:arjun@metallicpalette.com" target="_top">arjun@metallicpalette.com</a>.</br></br> 

		If you have any trouble with the site, please email <a href="mailto:support@metallicpalette.com" target="_top">support@metallicpalette.com</a>.</br></br>

		Happy selling!
	</h3>
	

</div>