<div class="center">
	<h1> Frequently Asked Questions</h1>
</div>

<div class="container">
	
	<h3>What happens after I make a new piece (what does "requested" mean)?</h3>

	<p>After you create a new piece, the piece does not go live on the site. It is simply requested. The request has to be approved by our team before it is allowed to go live. The piece will typically be approved in 24 hours. <strong> Note: If you edit a piece after it is approved, that piece will have to be re-approved before anyone else can see the update. </strong></p></br>


	<h3>How can I view the purchase details when one of my pieces gets sold?</h3>

	<p> These details will be emailed to you. Also, if you sign in and click on the "Logged in as your_name" in the top right hand corner, clicking on the link to your profile will allow you to see all of the pieces that are live on the site, have been requested by you, or have already been bought. Clicking on any of the pieces that have been bought leads you to a bigger view of the piece, where you will see a "See purchase details" link at the bottom.<p></br>

	<h3>How do I price my piece?</h3>

	<p>When you create a new piece, there is an "artist cut" section. This is the amount of money that you are guaranteed to receive after your art is sold. This includes the money it will cost you to ship the piece to the buyer. So, if I want to get $30 for my artwork, and it costs me $10 to ship it, I will put $40 in the "artist cut" field. There are more detailed instructions on the "Please click me!" button next to the artist cut field.</p></br>
	

	<h3>How long do I have to ship the piece after it is bought?</h3>

	<p>After the piece has been bought, you have one week to ship it to the customer (at the latest). It should reach the customer three weeks after it was bought (at the latest).</p></br>

	<h3>How will I receive my payment for selling, and how long will it take?</h3>

	<p>You will receive your money via a check in the mail. This is why we need to you enter your address when making your account. You will typically receive your money 3-4 weeks after the piece has been bought. </p></br>

	<h3>Why does my art get marked up when it is posted?</h3>

	<p>This markup allows us to donate a large portion of our proceeds to charity, while at the same time covering our overheads.</p></br>
	
</div>