<div class="hero-section">
	
  <br/><br/><br/><br/>
  
  <div class="hero-text-container">
    <h1 class="homepage-tagline">The easiest way to buy and sell art</h1>

    <p class="lead seo-tagline">Every sale helps people with learning challenges</p>

    <div class="home-button-group">
      <%= link_to "See Our Art", pieces_path, class: "btn btn-success btn-lg btn-home" %> 
      <%= link_to "Start Selling", new_user_registration_path, class: "btn btn-success btn-lg btn-home" %> 
    </div>

  </div>
  <br/><br/><br/><br/><br/>
  
  
</div>

<script>
  mixpanel.track("Viewed Home Landing Page");
</script>


<%= render "pieces/piecesindex.html.erb" %> 

