<div class="center">
	<h1> How to Use this Site </h1>
</div>

<div class="container">
	<h3>Welcome to Metallic Palette. We know that joining a new site can be a little overwhelming, so here are some instructions on how to get started.</h3><br>

	<h4>Instructions for Sellers</h4>

		<p>If you want to sell your art in a very quick and easy way, you have come to the right place! Simply click on 'New Artist Registration' to sign up to sell.</p>

		<p>Once you have signed up, and clicked the link in your confirmation email, you can sign in and post a new piece.</p>

		<p>Once you post the piece, <strong> it will not appear on the website. </strong> It will be requested, and our curators will have to approve the piece before it will be posted. This usually takes about 24 hours. </p>

		<p>If you click on your name in the top right hand corner, and then click on profile, you can see all the pieces that you have requested, all of the pieces that have been approved and are live on the site, and all of the pieces that you have sold. </p>

		<p>Once your piece is bought, we will send you an email with instructions on what to do next. Please follow these carefully. You will be given one week after a piece has been bought to ship it. </p>

		<p>Once the piece has been recieved by the customer, we will mail you your money via check. </p>

		<p>Hope this clears things up! If you have any questions, please email <a href="mailto:support@metallicpalette.com" target="_top">support@metallicpalette.com.</a></p>

		<p> Happy selling! </p><br>


	<h4>Instructions for Buyers</h4>

		<p> To buy our wonderful artwork, simply click on 'See our art' on our homepage. This will take you to a page where all of our art is displayed, and where you can filter and sort it however you like. </p>

		<p> Click on the image of the piece you would want to buy, and then click buy piece to purchase it. Once it is bought, the piece will take a maximum of three weeks to reach your place. </p>

		<p> Hope you enjoy your visit, and please come back soon! </p><br>
		
</div>