<div class="center">
	<h1> Terms and Conditions</h1>
</div>

<div class="container">
	<h3>Welcome to Metallic Palette. We are happy you are here. Enjoy yourself, but please follow these Terms and Conditions (the “Terms” for short).</h3>

	<h4>The Terms are a legally binding contract between you and Metallic Palette. This contract lays out your rights and responsibilities when you use Metallic Palette (referred to hereafter as “Services”), so please read it carefully. By using any of our Services (even just browsing our website), you’re agreeing to the Terms. If you don’t agree with the Terms, you may not use our Services. </h4></br>

	<h4>Terms for everyone:</h4>

		<p><strong>1. Don’t Try to Harm Our Systems.</strong> You agree not to interfere with or try to disrupt our Services, for example by distributing a virus or other harmful computer code.</p>

		<p><strong>2. Warranties and Limitation of Liability.</strong> You understand that Metallic Palette does not manufacture, store or inspect any of the items sold through our Services. We provide the venue; the items in our marketplaces are produced, listed and sold directly by independent sellers, so Metallic Palette cannot and does not make any warranties about their quality, safety or even their legality. Any legal claim related to an item you purchase must be brought directly against the seller of the item. You release Metallic Palette from any claims related to items sold through our Services, including for defective items, misrepresentations by sellers or items that caused physical injury (like product liability claims). </p>

		<p><strong>3. Content You Access.</strong> You may come across materials that you find offensive or inappropriate while using our Services. We make no representations concerning any content posted by users through the Services. Metallic Palette is not responsible for the accuracy, copyright compliance, legality or decency of content posted by users that you accessed through the Services. You release us from all liability relating to that content. </p>

		<p><strong>4. Disputes with Other Users.</strong> If you find yourself in a dispute with another user of Metallic Palette’s Services or a third party, we encourage you to contact the other party and try to resolve the dispute amicably. Metallic Palette has no obligation to resolve any disputes. You release Metallic Palette from any claims, demands, and damages arising out of disputes with other users or parties.</p>

		<p><strong>5. Disputes with Metallic Palette.</strong> If you’re upset with us, let us know, and hopefully we can resolve your issue. But if we can’t, then these rules will govern any legal dispute involving our Services:</p>

			<p class="tab"><strong>A. Governing Law.</strong> The Terms are governed by the laws of the State of California, without regard to its conflict of laws rules, and the laws of the United States of America. These laws will apply no matter where in the world you live.</p>

			<p class="tab"><strong>B. Arbitration.</strong> You and Metallic Palette agree that any dispute or claim arising from or relating to the Terms shall be finally settled by arbitration, using the English language, administered by the American Arbitration Association (the “AAA”) under its Commercial Arbitration Rules then in effect (those rules are deemed to be incorporated by reference into this section). Our arbitration will be handled by a sole arbitrator in accordance with those rules. Judgment on the arbitration award may be entered in any court that has jurisdiction. Any arbitration under the Terms will take place on an individual basis: class arbitrations and class actions are not permitted. You understand that by agreeing to the Terms, you and Metallic Palette are each waiving the right to trial by jury or to participate in a class action. Notwithstanding the foregoing, each party shall have the right to bring an action in a court of proper jurisdiction for injunctive or other equitable or conservatory relief, pending a final decision by the arbitrator. </p>

			<p class="tab"><strong>C. Forum.</strong> We’re based in Los Altos, California, so any legal action against Metallic Palette related to our Services must be filed and take place in Mountain View. That means the seat of any arbitration shall be Mountain View. For any actions not subject to arbitration, you and Metallic Palette agree to submit to the personal jurisdiction of a state court located in Mountain View, California. If you are a government agent or entity in the United States using the Services in your official capacity, and you are legally unable to agree to the clauses in this section, then those clauses do not apply to you. In that case, the Terms and any action related to the Terms will be governed by the laws of the United States (without reference to conflict of laws) and, in the absence of federal law and to the extent permitted under federal law, the laws of the State of California. </p>

		<p><strong>6. Changes to the Terms.</strong> We may update these Terms from time to time. If we believe that the changes are material, we’ll definitely let you know by posting the new terms on this page. That way you can decide whether you want to continue using the Services. Changes will be effective upon the posting of the changes. You are responsible for reviewing and becoming familiar with any changes. Your use of the Services following the changes constitutes your acceptance of the updated Terms.</p>

		<p><strong>7. Some Finer Legal Points.</strong> The Terms, including all of the policies that make up the Terms, supersede any other agreement between you and Metallic Palette regarding the Services. If any part of the Terms is found to be unenforceable, that part will be limited to the minimum extent necessary so that the Terms will otherwise remain in full force and effect. Our failure to enforce any part of the Terms is not a waiver of our right to later enforce that or any other part of the Terms. We may assign any of our rights and obligations under the Terms.</p><br>


	<h4>Terms for Sellers:</h4>

		<p><strong>8. Be honest with us.</strong> Provide accurate information about yourself. It’s not OK to use false information or impersonate another person or company through your account.</p>

		<p><strong>9. Choose a nice username.</strong> A username that is offensive, vulgar, or infringes someone’s intellectual property rights violates the Terms.</p>

		<p><strong>10. You are responsible for your account.</strong> You’re solely responsible for any activity on your account. If you’re sharing an account with other people, then the person whose billing information is on the account will ultimately be responsible for all activity. If you’re registering as a business entity, you personally guarantee that you have the authority to agree to the Terms on behalf of the business. Also, your accounts are not transferable.</p>

		<p><strong>11. Protect your password.</strong> As we mentioned above, you’re solely responsible for any activity on your account, so it’s important to keep your account password secure.</p>

		<p><strong>12. Let's be clear about our relationship.</strong> These Terms don't create any agency, partnership, joint venture, employment or franchisee relationship between you and Metallic Palette.</p>

		<p><strong>13. Your Content.</strong> Content that you post using our Services is your content (so let’s refer to it as “Your Content”). We don’t make any claim to it. That includes anything you post using our Services (like usernames, profile pictures, listing photos, listing descriptions, etc.).</p>

		<p><strong>14. Responsibility for Your Content.</strong> You understand that you are solely responsible for Your Content. You represent that you have all necessary rights to Your Content and that you’re not infringing or violating any third party’s rights by posting it.</p>

		<p><strong>15. Rights You Grant Metallic Palette.</strong> By posting Your Content, you grant Metallic Palette a non-exclusive, worldwide, royalty-free, irrevocable, sub-licensable, perpetual license to use, display, edit, modify, reproduce, distribute, store, and prepare derivative works of Your Content to provide the Services and to promote Metallic Palette, your Metallic Palette listings, or the Services in general, in any formats and through any channels, including across any Metallic Palette Services or third-party website or advertising medium.</p>

		<p><strong>16. Reporting Unauthorized Content.</strong> Metallic Palette has great respect for intellectual property rights, and is committed to following appropriate legal procedures to remove infringing content from the Services. If content that you own or have rights to has been posted to the Services without your permission and you want it removed, please contact us. If Your Content infringes another person’s intellectual property, we will remove it if we receive proper notice. We’ll notify you if that happens.</p>

		<p><strong>17. Inappropriate, False or Misleading Content.</strong> This should be common sense, but there are certain types of content we don’t want posted on Metallic Palette’s Services (for legal reasons or otherwise). You agree that you will not post any content that is abusive, threatening, defamatory, obscene, vulgar or otherwise offensive. You also agree not to post any content that is false and misleading or uses the Services in a manner that is fraudulent or deceptive. You also understand that Metallic Palette can edit or delete your content for any reason, at any time, and without notice.</p>

		<p><strong>18. Termination By Metallic Palette.</strong> We may terminate or suspend your account (and any related accounts) and your access to the Services at any time, for any reason, and without advance notice. If we do so, it’s important to understand that you don’t have a contractual or legal right to continue to use our Services, for example, to sell or buy on our website. Metallic Palette may refuse service to anyone, at any time, for any reason.</p>

		<p><strong>19. We May Discontinue the Services.</strong> Metallic Palette reserves the right to change, suspend or discontinue any of the Services at any time, for any reason. We will not be liable to you for the effect that any changes to the Services may have on you, including your income or your ability to generate revenue through the Services.</p></br>

		<h4> Happy Selling!</h4></br>
</div>