/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require 'masonry/transitions'
 *= require_self
 */

 /* Home Start */

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

.btn-home {
   padding: 12px 22px;
   margin: 10px;
   font-size: 25px;
   line-height: normal;
   -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
           border-radius: 8px;
}

.homepage-tagline {
	font-size: 300%;
}
 .seo-tagline {
	font-size: 150%;
}

.hero-section {
  background: url("https://s3.amazonaws.com/metallicpalette/homebackground.jpg") 50% no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}


@media (max-width: 449px) {
	.btn-home {
		display: block;
	}

	.home-button-group {
		margin-bottom: -50px;
		margin-top: 50px;
	}
}


  @media (min-width: 1000px) {
	.hero-section {
		padding-top: 50px;
	}
}

/* Home End */


 /* Tabbing */

 .tab {
 	margin-left: 20px;
 }

/* Logo */

.navbar-brand {
  padding: 2px;
  padding-left: 25px;
}
.navbar-brand img {
  height: 100%;
  width: auto;
}

/* Jumbotron Start */

.jumbotron {
	margin-top: 10px;
	border-radius: 10px;
	padding-bottom: 10px;
}

.jumbotron .btn-primary {
	margin: 5px;
}

.jumbotron img {
	height: 150px;
	border-radius: 50%;
}

.jumbotron h1 {
	margin-top: -30px;
}

.jumbotron p {
	font-size: 18px;
}

/* Jumbotron End */

/* Buy Button Start */

#btn-buy-show {
	border-radius: 3px;
	margin-bottom: 5px;
}

.green {
	color: #5cb85c;
}

.purple {
	color: #9e75e8;
}
/* Buy Button End */

.center {
	text-align: center;
}

.alert {
	margin-bottom: 0px;
	border-radius: 0px;
}

.panel-primary {
	margin-top: 30px;
}

.panel-danger {
	margin-top: 30px;
}
/* Home Start */




/* Home End */


.italics h2 {
	margin-bottom: -2px;
}

.italics {
	margin-bottom: 10px;
}
