<!DOCTYPE html>
<html>
	<head>
		<title>Metallic Palette</title>
	</head>
	<body>

	<div class="mailer">
		<%= yield %>

		<p> Thanks for using <%= link_to "Metallic Palette", root_path %>! </p>
	</div>
	</body>
</html>