<!DOCTYPE html>
<html>
	<head>
		<title>Metallic Palette</title>
	</head>
	<body>

	<div class="mailer">
		<%= yield %>

		<p> Thanks for using <a href="metallicpalette.com">Metallic Palette</a>! </p>
	</div>
	</body>
</html>
